html{
    background-color: rgb(243, 243, 230);
}
.app{
    align-content: center;
}
/* the visible page*/
.paper{
    background-color: rgb(238, 237, 230);
    background-image: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGFwZXIlMjBzaGVldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 8rem;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    color:rgb(18, 4, 146);
}
.input{
    width: 60%;
    padding: 1rem 1rem;
    margin: .5rem 5rem;
    font-size: 1.5rem;
}
.status-btns{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row;
    column-gap: 15px;
    margin-bottom: 5px;
}
.bottom{
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.counter{
    height: auto;
    width: fit-content;
    border: 2px solid black;
    font-size: 2rem;
}
.add-task{
    display: flex;
    justify-content: center;
    align-items: center;
}
Button{
    font-size: 1rem;
    width: 20vw;
    border-radius: 50px;
    cursor: pointer;
}
.clearAll{
    font-size: 1rem;
    width: 20vw;
    background-color: firebrick;
    color: white;
}
.clearAll:hover{
    background-color: lightcoral;
}
/* this appears once input has been made*/
.list{
    display: flex;
    border: 1px solid black;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 237, 230);
    background-image: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGFwZXIlMjBzaGVldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
}
.todo{
    font-size: 2.5rem;
    color: rgb(18, 4, 146);
    font-family: cursive;
}
.check{
    transform: scale(2);
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}
/* .list-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
} */
.delete{
    color:red;
    font-size: 2rem;
}